[flake8]

ignore =
    # H401: docstring should not start with a space
    H401,
    # E501: line too long
    E501,
    # F541 f-string is missing placeholders
    F541,
    # F821 undefined name 
    F821,

exclude =
    .git,
    __pycache__,
    # legacy code, it just works
    DAN.py,
    csmapi.py,
    # venv dir
    ctlboard,
    .venv,
    cbvenv

