[flake8]

ignore =
    # H401: docstring should not start with a space
    H401,
    # E501: line too long
    E501,

exclude =
    .git,
    __pycache__,
    # legacy code, it just works
    DAN.py,
    csmapi.py,
    # venv dir
    ctlboard,
    .venv

