html, body {
  background-color: #F6F4FB;
  min-width: 500px;
  height: auto;
}

.fieldName > a{
  overflow-x: hidden;
  max-width: 80px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.custom-nav-item {
  color: rgba(255, 255, 255, 1) !important;
}

.card {
  width: 98%;
  margin-left: auto;
  margin-right: auto
}

.card-header {
  padding-left: 0px;
  padding-right: 0px;
}

.card-header-tabs {
  flex-flow: row nowrap;
}

.field-manage {
  margin-right: 2px;
  margin-top: 2px;
  background-color: #F6F4FB;
}

.navbar {
  padding: 0.05rem 0.1rem;
}

.system-button {
  border-left: 1.5px solid #ffffff;
}


.justify-content-between {
  padding: 0.2rem 0.1rem;
}

.create-field {
  border-color: #ffffff;
}

.custom-card-body {
  overflow-y:scroll;
  max-height: 700px;
}

.custom-input {
  padding-top: 0px;
  padding-bottom: 0px;
  max-width: 100px;
  margin: 0 8px;
}


.custom-select {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 20px;
  min-width: 8px;
  max-width: 45px;
  background: url(./imgs/expand_more-24px.svg) no-repeat right .25rem center/15px 15px;
}

/* bootstrap-vue class of form-checkbox item */
.form-check {
  font-size: 0.8rem;
}

.setting-card {
  padding-left: 14.5px;
  padding-right: 14.5px;
  border-left: 1.5px solid gainsboro;
  border-right: 1.5px solid gainsboro;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 1.5px solid gainsboro;
  margin-bottom: 15px;
}

.sensor-list {
  background-color: #DC3545;
  border: 0.1px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding-right: 20px;
  align-items: center;
}

.actuator-control {
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1.5px solid gainsboro;
  padding: 2px 0px;
}

.actuator-control > div {
  padding-left: 0px;
  padding-right: 1px;
}

.actuator-control > div > div > button {
  padding-top: 0px;
  padding-bottom: 0px;
}

.actuator-control > div > span {
  padding-top: 5px;
  font-weight: bold;
  font-size: 1.1rem;
}

.setting-area {
  text-align: start;
}

.setting-sensor {
  display: inline-flex;
}

.duty-area {
  margin-bottom: 5px;
}

.bottom-button {
  margin-top: 2%;
  position: fixed;
}

.setting-text {
  padding-top: 5px;
}

.setting-text-start {
  padding-top: 5px;
}

.setting-text-mid {
  padding-top: 5px;
  padding-right: 15px;
}