html {
  background-color: #F6F4FB;
  min-width: 480px;
}

.fieldName > a{
  overflow-x: hidden;
  max-width: 80px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.custom-nav-item {
  color: rgba(255, 255, 255, 1) !important;
}

.card-header {
  padding-left: 0px;
  padding-right: 0px;
}

.card-header-tabs {
  flex-flow: row nowrap;
  /* overflow: hidden; */
}

.field-manage {
  margin-right: 2px;
  margin-top: 2px;
  background-color: #F6F4FB;
}

.field-manage.inactive {
  display: none;
  border-left: 0px solid #ffffff;
}

.container {
  padding: 0rem;
}

.navbar {
  padding: 0.05rem 0.1rem;
}

.system-button {
  border-left: 1.5px solid #ffffff;
}

.system-button.inactive {
  border-left: 0px solid #ffffff;
  display: none;
}

.justify-content-between {
  padding: 0.2rem 0.1rem;
}

.create-field {
  border-color: #ffffff;
}