<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/control_board.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://unpkg.com/semantic-ui-vue/dist/umd/semantic-ui-vue.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Control Board</title>
  </head>

  <body>
    <div id="app">
      <!-- set header-navigator to show hamburger/nav -->
      <header :class="['header'/*,'header-navigator'*/]">
        <h1 class="app-title">Control Board</h1>
        <div v-bind:class="['header-hamburger', hamburgerActive===true?'active':'']" v-on:click="hamburgerHandler">
          <div class="header-hamburger-wrapper">
            <div class="header-hamburger-inner"></div>
            <div class="header-hamburger-inner"></div>
            <div class="header-hamburger-inner"></div>
          </div>
        </div>
        <nav v-bind:class="['header-nav', hamburgerActive===true?'active':'']">
          <ul class=" header-ul">
            <li class="header-li">
              <a class="header-link" href="#dashboard">Dashboard</a>
            </li>
            <li class="header-li active">
              <a class="header-link" href="#control_board">Control Board</a>
            </li>
            <li class="header-li">
              <a class="header-link" href="#settings">Settings</a>
            </li>
          </ul>
        </nav>

      </header>


      <!-- sensorItem-->
      <div class="sensor-container">
        <div class="sensor-wrapper" v-for="(rule, index) in rules">
          <!-- color set: green yellow red -->
          <div :class="['sensor-status', sensordata[rule.sensor_alias].status]">
            <p class="sensor-alias"><% rule.rule_type === 'timer' ? "Timer" : rule.sensor_alias %></p>
            <span class="sensor-value"
              v-if="rule.rule_type==='sensor'"><% Math.round(sensordata[rule.sensor_alias].value*10)/10 %></span>
            <span class="sensor-value"
              v-else-if="rule.rule_type==='timer'"><% sensordata[rule.sensor_alias].time %></span>
          </div>
          <div class="sensor-setting">
            <div class="sensor-trigger">
              <!-- color set: green yellow orange red purple -->
              <!-- <div
                v-bind:class="['sensor-trigger-status', sensordata[rule.sensor_alias].triggered === true?'green':'red',(rule.comparison_open === 'notset' && rule.comparison_close === 'notset') || rule.exetime === 0?'grey':'']">
              </div> -->
              <sui-button-group class="button-group">
                <sui-button toggle
                content="On"
                :active="rule.mode === 'on'"
                @click="click('on', 0, index)"
                class="button-item"></sui-button>
                <sui-button toggle
                content="Off"
                :active="rule.mode === 'off'"
                @click="click('off', 1, index)"
                class="button-item"></sui-button>
                <sui-button toggle
                content="Auto"
                :active="rule.mode === 'auto'"
                @click="click('auto', 2, index)"
                class="button-item"></sui-button>
              </sui-button-group>
              <span class="sensor-trigger-item"><%rule.actuator_alias%></span>
              <div class="sensor-trigger-switch">
                <!-- <span v-bind:class="{'sensor-trigger-span active':rule.rule_type==='sensor'}">sensor</span> -->
                <label class="switch">
                  <input type="checkbox" v-on:click="sensorTypeHandler(index)"
                    v-bind:checked="rule.rule_type==='timer'">
                  <span class=" slider round"></span>
                </label>
                <!-- <span v-bind:class="{'sensor-trigger-span active':rule.rule_type==='timer'}">timer</span> -->
                <span v-bind:class="{'sensor-trigger-span active':rule.rule_type==='timer'}"><% rule.rule_type %></span>
              </div>
            </div>
            <div class="sensor-setting-condition-container">
              <!-- open setting -->
              <div class="sensor-setting-condition-wrapper">
                <p>
                  <!-- <span> <% rule.rule_type==='sensor' ? 'Value' : 'Time' %> </span> -->
                  <select class="comparison-select" v-if="rule.rule_type==='sensor'" name="conditionSymbol"
                    v-model="rule.comparison_open" @change="onChange(index)">
                    <option class="comparison-option" value="notset"></option>
                    <option class="comparison-option" value="bigger">&gt;</option>
                    <option class="comparison-option" value="biggerandequal">&gt;&equals;</option>
                    <option class="comparison-option" value="smaller">&lt;</option>
                    <option class="comparison-option" value="smallerandequal">&lt;&equals;</option>
                  </select>
                  <span>
                    <input class="condition-input" type="text" v-if="rule.rule_type==='sensor'" name="conditionValue"
                      v-model="rule.threshold_open" :disabled="rule.comparison_open==='notset'"
                      @change="onChange(index)">
                    <select class="condition-input time" v-if="rule.rule_type==='timer'" name="conditionValue"
                      :value="timeHandler(timeSave[rule.actuator_alias].time_open, 'hour')"
                      @change="onTimeChange(index, $event, 'hour', 'open')">
                      <option v-for="hour in hours" :value="hour"><%hour%></option>
                    </select>
                    <select class="condition-input time" v-if="rule.rule_type==='timer'" name="conditionValue"
                      :value="timeHandler(timeSave[rule.actuator_alias].time_open, 'minute')"
                      @change="onTimeChange(index, $event, 'minute', 'open')">
                      <option v-for="minute in minuteAndSecond" :value="minute"><%minute%></option>
                    </select>
                    <select class="condition-input time" v-if="rule.rule_type==='timer'" name="conditionValue"
                      :value="timeHandler(timeSave[rule.actuator_alias].time_open, 'second')"
                      @change="onTimeChange(index, $event, 'second', 'open')">
                      <option v-for="second in minuteAndSecond" :value="second"><%second%></option>
                    </select>
                  </span>
                  <span> on.</span>
                </p>
              </div>

              <!-- close setting -->
              <div class=" sensor-setting-condition-wrapper">
                <p>
                  <!-- <span><% rule.rule_type==='sensor' ? 'Value': 'Time' %> </span> -->
                  <select class="comparison-select" v-if="rule.rule_type==='sensor'" name="conditionSymbol"
                    v-model="rule.comparison_close" @change="onChange(index)">
                    <option class="comparison-option" value="notset"></option>
                    <option class="comparison-option" value="bigger">&gt;</option>
                    <option class="comparison-option" value="biggerandequal">&gt;&equals;</option>
                    <option class="comparison-option" value="smaller">&lt;</option>
                    <option class="comparison-option" value="smallerandequal">&lt;&equals;</option>
                  </select>
                  <span>
                    <input class="condition-input" type="text" v-if="rule.rule_type==='sensor'" name="conditionValue"
                      v-model="rule.threshold_close" :disabled="rule.comparison_close==='notset'"
                      @change="onChange(index)">
                    <select class="condition-input time" v-if="rule.rule_type==='timer'" name="conditionValue"
                      :value="timeHandler(timeSave[rule.actuator_alias].time_close, 'hour')"
                      @change="onTimeChange(index, $event, 'hour', 'close')">
                      <option v-for="hour in hours" :value="hour"><%hour%></option>
                    </select>
                    <select class="condition-input time" v-if="rule.rule_type==='timer'" name="conditionValue"
                      :value="timeHandler(timeSave[rule.actuator_alias].time_close, 'minute')"
                      @change="onTimeChange(index, $event, 'minute', 'close')">
                      <option v-for="minute in minuteAndSecond" :value="minute"><%minute%></option>
                    </select>
                    <select class="condition-input time" v-if="rule.rule_type==='timer'" name="conditionValue"
                      :value="timeHandler(timeSave[rule.actuator_alias].time_close, 'second')"
                      @change="onTimeChange(index, $event, 'second', 'close')">
                      <option v-for="second in minuteAndSecond" :value="second"><%second%></option>
                    </select>
                  </span>
                  <span> off.</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="asking-wrapper" v-if="rules.length!==0 && Object.keys(sensordata).length!==0">
        <button class="asking-confirm" v-on:click="askingConfirm">Confirm</button>
        <button class="asking-clear" v-on:click="askingClear">Reset All</button>
      </div>

      <!-- illustration -->
      <div></div>
      <div class="illu">
        <div class="illu green"></div>
        <div class="illu text">已達預設值條件，啟動器已被觸發 Actuator has been triggered as condition has been reached</div>
      </div>

      <div class="illu">
        <div class="illu yellow"></div>
        <div class="illu text">靠近預設值條件，啟動器擁有較高機率被觸發 Actuator may be triggered soon as condition has almost been reached</div>
      
      </div>
      <div class="illu">
        <div class="illu red"></div>
        <div class="illu text">未達預設值條件，啟動器未被觸發 Actuator is not triggered</div>
      </div>

      <div class="pad"></div>

      <script type="text/javascript" src="/static/main.js"></script>
    </div>
  </body>

</html>
