<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Control Board</title>

        <!-- Add this to <head> -->

        <!-- Load required Bootstrap and BootstrapVue CSS -->
        <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
        <link type="text/css" rel="stylesheet" href="../static/control_board.css" />

        <!-- Load polyfills to support older browsers -->
        <!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script> -->

        <!-- Load Vue followed by BootstrapVue -->
        <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
        <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

        <!-- Load the following for BootstrapVueIcons support -->
        <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

    </head>
    <body>
      <div id=app>
        <!-- Navigation bar -->
        <b-navbar type="dark" variant="dark" class="d-flex">
          <select-projects
            v-bind:projects="projects"  
          ></select-projects>
        
          <div class="ml-auto">
            <b-navbar-nav>
              <b-nav-item class="system-button" v-if="user.superuser">System</b-nav-item>
              <b-nav-item class="system-button custom-nav-item">Logout</b-nav-item>
            </b-navbar-nav>
          </div>
        </b-navbar>
        
        <!-- Add/delete field button -->
        <div class="field-manage" v-if="user.superuser">
          <div class="d-flex justify-content-between">
            <b-button size="sm" variant="success" @click="createField" class="create-field">+ New Field</b-button>
            <b-button size="sm" variant="danger">Delete Field</b-button>
          </div>
        </div>

        <!-- Field tabs -->
        <b-card title="Card Title" no-body>
          <b-card-header header-tag="nav">
            <b-nav card-header tabs>
              <b-nav-item-dropdown text="More" lazy v-if="fields.length > 7">
                <b-dropdown-item
                  v-for="(field, index) in fields.slice(7)"
                  v-bind:active="index + 7===currentField"
                  v-on:click="switchField(index + 7)"
                  align-self="end"
                > <% field %>
                </b-dropdown-item>

                <b-dropdown-item>
                  Pin Field
                  <b-img src="../static/imgs/pin.svg"></b-img>
                </b-dropdown-item>
              </b-nav-item-dropdown>

              <b-nav-item
                v-for="(field, index) in pinnedFields"
                v-bind:active="index===currentField"
                v-on:click="switchField(index)"
                class="fieldName"
                > <% field %>
              </b-nav-item>
            </b-nav>
          </b-card-header>

          <b-card-body class="text-center custom-card-body">
            <div v-for="setting in settings">
              <!-- sensor List and sensor value -->
              <sensor-row
                v-bind:sensors="setting.sensors"
                v-bind:value="setting.value"
              ></sensor-row>
              <!-- Mode select and actuator name, Undo And Save -->
              <actuator-row
                v-bind:mode="setting.mode"
                v-bind:actuator="setting.actuator"
              ></actuator-row>

              <!-- Trigger Area -->
              <div>
                <b-row class="text-left setting-area-top">
                  <b-col><b>Trigger</b></b-col>
                </b-row>
                <b-row class="text-left setting-area-mid">
                  <b-col cols="2" sm>
                    <b-form-select required size="sm" class="custom-select"
                      :options="comparisons"
                    ></b-form-select>
                  </b-col>
                  <b-col cols="3" sm>
                    <b-form-input placeholder="Seconds" size="sm" class="custom-input"></b-form-input>
                  </b-col>
                  <span class="setting-text">ON.</span>
  
                  <b-col cols="2" sm>
                    <b-form-select
                      :options="comparisons" required size="sm" class="custom-select"
                    ></b-form-select>
                  </b-col>
                  <b-col cols="3" sm>
                    <b-form-input placeholder="Seconds" size="sm" class="custom-input"></b-form-input>
                  </b-col>
                  <span class="setting-text">OFF.</span>
                </b-row>
                <b-row class="text-left setting-area-mid" v-if="setting.mode==='Timer'">
                  <b-col sm>
                    <b-form-group>
                      <b-form-checkbox-group
                        :options="weekdays" size="sm" plain
                      ></b-form-checkbox-group>
                    </b-form-group>
                  </b-col>
                </b-row>
              </div>

              <!-- Duty Cycle Area -->
              <div>
                <b-row class="text-left setting-area-mid">
                  <b-col><b>Duty Cycle</b></b-col>
                </b-row>
                <b-row class="text-left setting-area-bottom">                  
                  <span class="setting-text-start">ON</span>
                  <b-col cols="3" sm>
                    <b-form-input placeholder="Seconds" size="sm" class="custom-input"></b-form-input>
                  </b-col>
                  <span class="setting-text-mid">secs</span>

                  <span class="setting-text">OFF</span>
                  <b-col cols="3" sm>
                    <b-form-input placeholder="Seconds" size="sm" class="custom-input"></b-form-input>
                  </b-col>
                  <span class="setting-text">secs</span>
                </b-row>
              </div>
            </div>
          </b-card-body>
        </b-card>

        <!-- Confirm/Reset all buttons -->
        <b-container fluid="sm" class="bottom-button">
          <b-row class="text-center">
            <b-col><b-button size="lg">Confirm</b-button></b-col>
            <b-col><b-button size="lg">Reset All</b-button></b-col>
          </b-row>
        </b-container>
      </div>
      <script type="text/javascript" src="../static/components.js"></script>
      <script type="text/javascript" src="../static/main.js"></script>
    </body>
</html>